
@model RecordsModel

@{
    ViewData["Title"] = "Record";
}

<a asp-action="Index" asp-controller="Record">Back</a>
 <h3 class="my-2">@Model.Title</h3>
    <hr>
    <h3 class="detail">Archive Details</h3>
    <div class="orta">
    <div id="hello" class="card text-white bg-primary mb-3" style="width: 12rem; height: 12rem;">
        <div class="card-header fw-bold">Created By</div>
        <div class="card-body">
          <p class="card-text fw-bold">@(Model.User.UserName == ViewBag.CurrentUser.UserName ? "You" : Model.User.UserName)</p>
        </div>
      </div>
      <div id="hello1" class="card text-white bg-warning mb-3" style="width: 12rem; height: 12rem;">
        <div class="card-header fw-bold">Release Date</div>
        <div class="card-body">
          
          <p class="card-text fw-bold">@Model.ReleaseTime.ToString("MM/dd/yyyy")</p>
        </div>
      </div>
      <div id="hello" class="card text-white bg-primary mb-3" style="width: 12rem; height: 12rem;">
        <div class="card-header fw-bold">Category</div>
        <div class="card-body">
         
          <p class="card-text fw-bold">@Model.RecordsCategory</p>
        </div>
      </div>
      <div id="hello1" class="card text-white bg-warning mb-3" style="width: 12rem; height: 12rem;">
        <div class="card-header fw-bold">BPM No</div>
        <div class="card-body">
          
          <p class="card-text fw-bold">@Model.BPMNo</p>
        </div>
      </div>
      <div id="hello" class="card text-white bg-primary mb-3" style="width: 12rem; height: 12rem;">
        <div class="card-header fw-bold">Changeset No</div>
        <div class="card-body">
          
          <p class="card-text fw-bold">@Model.ChangesetID</p>
        </div>
      </div>
      <div id="hello1" class="card text-white bg-warning mb-3" style="width: 12rem; height: 12rem;">
        <div class="card-header">Status</div>
        <div class="card-body">
          
          <p class="card-text fw-bold">@Model.Status</p>
        </div>
      </div>
    </div>
    <div class="my-4">
       <h3 class="detail">Anaylsis Details</h3>
       <p>@Model.Analysis</p>
     </div>
    <div class="my-4">
      <h3 class="detail">Update Details</h3>
      <p>@Model.UpdateDetails</p>
    </div>
    <div class="my-4">
    <h3 class="detail">Test Results</h3>
    <p>@Model.TestResults</p>
    </div>