@using _archive.Data.Enums
@model RecordsModel;


@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h3>Editing  Archive</h3>

<hr class="my-3" />

<div class="d-flex justify-content-start"><a class="nav-link px-0" asp-action="Index" asp-controller="Record">Back</a></div>

@if(ViewBag.ErrorMessage != null)
{
    <div id="createError" class="alert alert-danger my-4">
    @ViewBag.ErrorMessage
</div>

    <script>
         const isError = @(ViewBag.ErrorMessage != null ? "true" : "false");
                const createError = document.querySelector("#createError");
                if(isError){
                     setTimeout(()=>{
                        createError.remove();
                       
                    },3000);
                    }
    </script>

}


<form class="form mt-2" method="POST" asp-controller="Record" asp-action="Edit" >
    <div>
     <input type="hidden"value="@Model.ArchiveID" class="form-control" />  
     <input type="hidden"value="@Model.User" class="form-control"  />
     <input type="hidden"value="@Model.UserID" class="form-control"  />
        <div class="row">
            <div class="col-4"> 
                <label asp-for="Title"></label><span class="text-danger">*</span>
                <input asp-for="Title" value="@Model.Title" placeholder="Enter title" class="form-control"/>
                 <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="RecordsCategory">Select Category:<span class="text-danger">*</span> </label><br />
                <select asp-for="RecordsCategory" selected="@Model.RecordsCategory" class="form-control" asp-items="Html.GetEnumSelectList<RecordsCategory>()"></select><br />
                <span asp-validation-for="RecordsCategory" class="text-danger" />
            </div>
           
        </div>
          <div class="row my-2">
              <div class="col-4">
                  <label asp-for="ChangesetID"></label><span class="text-danger">*</span>
                  <input asp-for="ChangesetID" value="@Model.ChangesetID" placeholder=""  class="form-control" type="number">
                    <span asp-validation-for="ChangesetID" class="text-danger"></span>
            </div>
             <div class="col-4">
                   <label asp-for="Status"></label> <span class="text-danger">*</span>
                   <input asp-for="Status"  value="@Model.Status" placeholder="" type="text" class="form-control">
                     <span asp-validation-for="Status" class="text-danger"></span>
              </div>
            
               <div class="col-4">
                <label asp-for="BPMNo"></label><span class="text-danger">*</span>
                <input asp-for="BPMNo" value="@Model.BPMNo" type="number" class="form-control"/> 
                  <span asp-validation-for="BPMNo" class="text-danger"></span>
            </div>  
          </div>
            
             <div class="my-2" >
                <label>Update Details <span class="text-danger text-small">*</span></label>
                <textarea id="updateDetails" asp-for="UpdateDetails" placeholder="Write Something for the changes you made" class="form-control" >@Model.UpdateDetails</textarea>
                  <span asp-validation-for="UpdateDetails" value="UpdateDetails of record here" class="text-danger"></span>
             </div>
 

            <div class="my-2">
                <label asp-for="TestResults"></label><span class="text-danger">*</span>
                <textarea id="testResults" asp-for="TestResults"  placeholder="Enter the results you get" class="form-control">@Model.TestResults</textarea> 
                  <span asp-validation-for="TestResults" class="text-danger"></span>
            </div>

            <div class="my-2">
                <label asp-for="Analysis"></label><span class="text-danger">*</span>
                <input asp-for="Analysis" value="@Model.Analysis" class="form-control"/>
                  <span asp-validation-for="Analysis" class="text-danger"></span>
            </div>

            <div class="row my-2">
                <div class="col-4">
                    <label asp-for="StartTime"></label><span class="text-danger">*</span>
                    <input asp-for="StartTime" placeholder="" type="date" value="@Model.StartTime.ToString("yyyy-MM-dd")"  class="form-control" >
                      <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>

                 <div class="col-4">
                    <label asp-for="EndTime"></label><span class="text-danger">*</span>
                    <input asp-for="EndTime" placeholder=""  value="@Model.EndTime.ToString("yyyy-MM-dd")" type="date" class="form-control">
                      <span asp-validation-for="EndTime" class="text-danger"></span>
                 </div>

                 <div class="col-4">
                    <label asp-for="ReleaseTime"></label><span class="text-danger">*</span>
                    <input asp-for="ReleaseTime" placeholder=""  value="@Model.ReleaseTime.ToString("yyyy-MM-dd")" asp-format="{0:yyyy-MM-dd}" type="date" class="form-control">
                      <span asp-validation-for="ReleaseTime" class="text-danger"></span>
                 </div>
            </div>

       
            
        </div>
        <div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary mr-1">Edit</button>
            </div>
        </div>
    </form>  
</div>


  


    @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
